h1 {text-align: center;
}
h1 {font-size: 200%;
}
h1 {font-style: oblique;
}
h1 {color: rgb(230, 137, 24);
}
h2 {font-size: large;
}
#amarelo {width: 30%;
}
#amarelo {margin-left: 35%;
}
body {background-color: rgb(232, 224, 115);
}

